.body *{
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding:0;
}
.body{
    margin: 0;
    height: 100%;
}
.about{
    margin: 0;
    text-align: center;
}
.about h1{
    padding: 10px;
    border-bottom: 2px solid #000;
    margin: 0 35%;
}
.about2{
    margin: 0;
    text-align: center;
}
.about2 *{
    margin: 30px 0;
}
.about2_msg{
    margin-bottom: 100px;
}
.about2_msg p{
    font-size:23px;
}
.other{
    margin: 0;
    text-align: center;
    background-color: #EDDADA;
}
.other h1{
    padding-top:30px;
    color:#A5756D;
}
.background_img{
    width:100%;
}
.logo{
    width: 100%;
}
.flex_about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
}
.flex_about p{
    font-size:23px;
    margin: 0 50px;
}
.flex_img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
}
.cycle{
    width: 100%;
}
.click_btn{
}
.click_btn a{
    text-decoration: none;
    color:#000;
    display: block;
    border: 1px #000 solid;
    border-radius: 50px;
    width: 280px;
    margin: 0 auto;
}
.click_btn a:hover{
    background-color: #c7a5a5;
    color:#FFF;
    border-color: #c7a5a5;
}
.footer_about{
    background-color: #EDDADA;
    color:#A5756D;
    text-align: center;
}

@media only screen and (max-width:959px) and (min-width:415px){
    .about h1{
        margin: 0 20%;
    }
    .flex_about p{
        margin: 0 20px;
    }
}
