.body *{
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding:0;
}
.body{
    margin: 0;
    height: 100%;
}
.about{
    margin: 0;
    text-align: center;
}
.other{
    margin: 0;
    text-align: center;
    background-color: #EDDADA;
}
.other h1{
    padding-top:30px;
    color:#A5756D;
}
.background_img{
    width:100%;
}
.logo{
    width: 100%;
}
.flex_about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
}
.flex_about p{
    font-size:18px;
    margin: 0 50px;
}
.flex_img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
}
.cycle{
    width: 100%;
}
.click_btn{
    display: flex;
    justify-content: center;
    border: 1px #000 solid;
    border-radius: 50px;
    width: 20%;
    margin: 0 auto;
}
.click_btn a{
    text-decoration: none;
    color:#000;
}
.footer_about{
    background-color: #EDDADA;
}
.footer_msg{
    color:#A5756D;
}